#pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Cria colunas automáticas que se ajustam ao tamanho do conteúdo */
  gap: 20px; /* Espaçamento entre as colunas */
  
}

.pokemon-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
